*.ipynb_checkpoints
*.DS_Store
*.pyc
*.swp
*__pycache__
*.egg-info
dist
build
tags

# test-related
.coverage
.cache
.pytest_cache

# developer environments
.idea
.vscode
Pipfile

# agent storage
examples/agents