*.ipynb_checkpoints
*.DS_Store
*.pyc
*.swp
*__pycache__
*.egg-info
dist
build
tags

tensortrade-env/
ray_results/
train.csv
test.csv
valid.csv

# test-related
.coverage
.cache
.pytest_cache
.mypy_cache
*.html

# developer environments
.idea
.vscode
Pipfile

# agent storage
examples/agents
examples/training_logs

# virtual environment
venv
