-r ./requirements.txt

#ray
ray[default,tune,rllib,serve]==1.10.0

#stable_baselines
stable-baselines3[extra]
sb3-contrib

#tensorflow
tensorflow>=2.8.0

#pytorch
torch>=1.10.2

#indicators
quantstats
TA-Lib
pandas-ta @ git+https://github.com/twopirllc/pandas-ta.git@development
ta>=0.4.7

#agents
pyarrow
wandb
tensorflow-probability>=0.15.0
opencv-python

#binance
python-binance
binance-futures @ git+https://github.com/Binance-docs/Binance_Futures_python.git#egg=binance-futures

#notebook
jupyterlab>=1.1.4
ipython>=7.12.0
ipywidgets>=7.0.0

#tests
pytest>=5.1.1
ta>=0.4.7

#docs
sphinx
sphinx_rtd_theme
sphinxcontrib.apidoc
nbsphinx
nbsphinx_link
recommonmark
sphinx_markdown_tables
ipykernel
