numpy>=1.22.2
pandas>=1.4.1
gym>=0.21.0
gym-wrappers>=0.1.0
pyyaml>=5.1.2
stochastic==0.6.0
tensorflow>=2.7.0
tensorflow-probability==0.15.0
tensorflow_addons==0.15.0
ipython>=7.12.0
matplotlib>=3.5.1
plotly>=4.5.0
ipywidgets>=7.6.5  # Required for rendering
torch>=1.10.2
pyarrow==7.0.0
fastparquet==0.8.0
wandb==0.12.10
tabulate==0.8.9
termcolor==1.1.0
deprecated>=1.2.13
