gym==0.21.0
atari-py==0.2.9
box2d-py==2.3.8
matplotlib==3.5.1
numpy==1.22.2
opencv-python-headless==4.5.5.62
optuna==2.10.0
pandas==1.4.1
pyarrow==7.0.0
pytest==7.0.1
tensorflow==2.8.0
tensorflow-probability==0.15.0
termcolor==1.1.0
wandb==0.12.10
tensorflow_addons==0.15.0
tabulate==0.8.9
pyglet==1.5.21
fastparquet==0.8.0
