-r ../requirements.txt

ray[default,tune,rllib,serve]==1.9.2
ccxt>=1.72.37
jupyterlab>=1.1.4
feature_engine
scikit-learn
optuna
quantstats
# ta>=0.4.7  # Broken metadata?
# TA-Lib  # Broken metadata?
pandas_ta
